<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('@src/_layout/meta/en.layout.html') %>
    <%= USER_SCRIPT %>
</head>

<body>
  <div class="to-top">
    <img src="<%= require('@assets/go-to-top.svg') %>" alt="">
  </div>
  <%= require('@src/_layout/header/templates/en.layout.html') %>
    <div id="home">
      <div class="mask">
        <div class="container">
          <div class="title">
            <div class="t1">Infinite Decentralization Capital</div>
            <div class="t2">Money Never Sleeps</div>
          </div>
        </div>
      </div>
    </div>
    <div id="introduction">
      <div class="container">
        <div class="page-title tx-title">INTRODUCTION</div>
        <div class="text">Infinite Decentralization Capital is a distinguished investment company focusing on Blockchain investment，Securities，Equity Investment as well as trading.With Professional investment research team and various resources in the industry，an average of 100%+ return annually made by ID Capital in venture investment.</div>
      </div>
    </div>
    <div id="portfolio">
      <div class="container">
        <div class="page-title tx-title">PORTFOLIO</div>
        <div class="icons">
          <div class="pages">
            <div class="page" data-index="1">
              <img src="<%= require('@assets/icons/1.svg') %>" >
              <img src="<%= require('@assets/icons/2.svg') %>" >
              <img src="<%= require('@assets/icons/3.svg') %>" >
              <img src="<%= require('@assets/icons/4.svg') %>" >
              <img src="<%= require('@assets/icons/5.svg') %>" >
              <img src="<%= require('@assets/icons/6.png') %>" >
              <img src="<%= require('@assets/icons/7.svg') %>" >
              <img src="<%= require('@assets/icons/8.svg') %>" >
              <img src="<%= require('@assets/icons/9.svg') %>" >
              <img src="<%= require('@assets/icons/10.png') %>" >
              <img src="<%= require('@assets/icons/11.png') %>" >
              <img src="<%= require('@assets/icons/12.png') %>" >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="team">
      <div class="container">
        <div class="page-title tx-title">TEAM</div>
        <div class="text">Wesley is the chief investment officer for a LA family office and independently manages a $100M book focusing on blockchain, crypto, stocks and commodities investment. In the past three years, Wesley generated an average of 100%+ return annually.</div>
        <div class="text">Before joining the LA family office, Wesley served as a managing director at Blockinfinty Venture Capital, where he oversaw hundreds of ICO and IEO projects. After Blockinfinty, Wesley joined The Leotank Group as the head trader for its quantitative trading strategies. Currently, The Leotank Group has two accounts on Bitmex leaderboard.</div>
      </div>
    </div>
    <%= require('@src/_layout/footer/templates/en.layout.html') %>
</body>

</html>